.poster {
  width: 100%;
}

.date {
  font-size: 1.5rem;
}

.score {
  font-size: 1.5rem;
  text-align: right;
}

.genres {
  text-align: right;
}

.productionCompany {
  img{
    width: 100%;
  }

  p{
    hyphens: auto;
    word-wrap: break-word;
  }

}